{% extends 'base.html' %}

{% block content %}
    {% include "navbar.html" %}

    <main class="w-full max-w-lg mx-auto mt-16">
        <section class="flex justify-between items-center">
            <div class="flex flex-col">
                <div class="flex items-center">
                    <h2 class="text-3xl text-black font-bold">{{ user.username }}</h2>
                    {% if not is_current_user %}
                        {% include 'follow_button.html' %}
                    {% endif %}
                </div>

                {% if user.profile.bio|length > 0 %}
                    <p class="mt-2 text-lg">{{ user.profile.bio }}</p>
                {% else %}
                    <p class="mt-2 text-lg italic text-gray-500">This user has no bio</p>
                {% endif %}
                

                {% comment %} <p class="mt-4 text-sm">100 following — 100 followers</p> {% endcomment %}
            </div>

            <div>
                {% if user.profile.image|length > 0 %}
                    <img class="w-20 h-20 rounded-full" src="{{ user.profile.image }}" alt="Avatar of Username" />
                {% else %}
                    <div class="w-20 h-20 rounded-full bg-gray-500" />
                {% endif %}
            </div>
        </section>

        {% block edit_profile %}
        {% endblock %}
    </main>

{% endblock %}
